#main{
	//display: none;
	width: 100vw;
	height: 100vh;
	position: absolute;
	left: 0;
	top: 0;
	background-color: #fff2cc;
}

#sun{
	position: absolute;
	left: 5%;
	top: 3%;
	//width: 20vw;
	//height: 20vh;
	//background-image: url("sun.png");
	//background-size: 20vw 20vh;
	//background-repeat: no-repeat;
}

#clouds{
	position: absolute;
	left: 37.5%;
	top: 10%;
	//width: 20vw;
	//height: 20vh;
	//background-image: url("clouds.png");
	//background-size: 20vw 20vh;
	//background-repeat: no-repeat;
}

#settings{
	position: absolute;
	left: 39%;
	top: 20%;
	//width: 5vw;
	//height: 5vh;
	//background-image: url("settings.png");
	//background-size: 5vw 5vh;
	//background-repeat: no-repeat;
}	
	
#cloud{	
	position: absolute;
	right: 5%;
	top: 3%;
	z-index: 1;
	//width: 20vw;
	//height: 20vh;
	//background-image: url("cloud.png");
	//background-size: 20vw 20vh;
	//background-repeat: no-repeat;
}

#dollar1{
	position: absolute;
	right: 7%;
	top: 14%;
}

#dollar2{
	position: absolute;
	right: 12%;
	top: 12%;
}

#dollar3{
	position: absolute;
	right: 18%;
	top: 14%;
}

#dollar4{
	position: absolute;
	right: 24%;
	top: 11%;
}

#dollar5{
	position: absolute;
	right: 28%;
	top: 14%;
}

#forest{	
	position: absolute;
	left: 5%;
	top: 45%;
	//width: 30vw;
	//height: 25vh;
	//background-image: url("forest.png");
	//background-size: 30vw 25vh;
	//background-repeat: no-repeat;
}

#tree{	
	position: absolute;
	right: 8%;
	top: 30%;
	//width: 30vw;
	//height: 25vh;
	//background-image: url("tree.png");
	//background-size: 30vw 25vh;
	//background-repeat: no-repeat;
}

#store{	
	position: absolute;
	left: 5%;
	bottom: 2%;
	//width: 20vw;
	//height: 20vh;
	//background-image: url("store.png");
	//background-size: 20vw 20vh;
	//background-repeat: no-repeat;
}

#gate{	
	position: absolute;
	right: 5%;
	bottom: 2%;
	//width: 25vw;
	//height: 25vh;
	//background-image: url("gate.png");
	//background-size: 25vw 25vh;
	//background-repeat: no-repeat;
}

.path{
	width: 20vw;
	height: 8vh;
	background-image: url("path.png");
	background-size: 20vw 8vh;
	background-repeat: no-repeat;
}
	
#path1{	
	position: absolute;
	left: 40%;
	top: 50%;
	transform: rotate(-20deg);
}

#path2{	
	position: absolute;
	right: 8%;
	top: 60%;
	transform: rotate(85deg);
}

#path3{	
	width: 40vw;
	background-size: 40vw 8vh;
	position: absolute;
	left: 25%;
	top: 70%;
	transform: rotate(-45deg);
}
