/*@media only screen and (max-width: 800px){
	body{
		background-color: #ccc;
	}
	#loading{
		background-color: #000;
	}
	#settings{
		height: 50%;
	}
}*/

body{
	overflow-x: hidden;
	position: fixed;
	margin: 0;
	padding: 0;
}

#loading{
	width: 100vw;
	height: 100vh;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 3;
}

#loading_bg{
	width: 100vw;
	height: 100vh;
	position: absolute;
	left: 0;
	top: 0;
}

#login{
	width: 100vw;
	height: 100vh;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 2;
}

#login_bg{
	width: 100vw;
	height: 100vh;
	position: absolute;
	left: 0;
	top: 0;
}

#facebook{
	position: absolute;
	left: 50%; /*35%*/
	top: 50%; /*55%*/
	transform: translate(-50%,-50%);
	//width: 10vw;
	//height: 10vh;
	//background-image: url("facebook.png");
	//background-size: 10vw 10vh;
	//background-repeat: no-repeat;
}

/*
#google{	
	position: absolute;
	left: 65%;
	top: 55%;
	transform: translate(-50%,-50%);
	//width: 10vw;
	//height: 10vh;
	//background-image: url("google.png");
	//background-size: 10vw 10vh;
	//background-repeat: no-repeat;
}*/
