body{
    margin: 0;
}

#pbackground{
    display:none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index:1;
}

#plant{
    height: 100vh;
    width: 100vw;   
    /*background-color:#FFF2CC;*/
    background-image: url("ICON2/種樹頁底圖.png");
    background-size: 100% 100%;
}

#timeicon{
    position: absolute;
    top: 2vh;
    left: 7vw;
    z-index: 3;
}

#thisyear{
    position: absolute;
    top: 0.7vh;
    left: 20vw;
    font-size: 5.5vw;
    z-index: 3;
}

/*#timebar{
    position: absolute;
    top: 4vh;
    left: 49vw;
    height: 4vh;
    width: 40vw;
    background-image: url("ICON/狀態列外框.png");
    background-size: 100% 100%;
    z-index: 3;
}*/

#timeline{
    position: absolute;
    top:4.1%;
    left:20%;
    height: 3.5%;
    width:1%;
    z-index: 3;
}

#goback{
    position: absolute;
    top: 2vh;
    right: 1vw;
    z-index: 3;
}

#click{
    display: none;
    position: absolute;
    top: 45vh;
    left: 45vw;
    z-index: 3;
}

#tool1{
    position: absolute;
    top:85vh;
    left: 10vw;
    z-index: 1;
}

#watercan{
    display: none;
    position: absolute;
    transition: transform 1s;
    z-index: 3;
}

#tool2{
    position: absolute;
    top:85vh;
    left: 80vw;
    z-index: 2;
}

#bigtree{
    display: block;
    position: relative;
    top: 30vh;
    height: 49vh;
    width: 90vw;
    margin-left: auto;
    margin-right: auto;
}

#shop{
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100vh;
    background-color:#FFF2CC;
    z-index: 2;
}

#shelves{
    display: block;
    position: relative;
    top: 20%;
    width: 95%;
    height: 75%;
    margin-left: auto;
    margin-right: auto;
}

#window{
    display:none;/*flex*/
    align-items:center;
    justify-content:center;

    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    opacity:10%;
	background-color:rgba(40%,40%,40%,0.7);
    z-index:5;
}

#window > img{    
    height: 45vh;
    width: 60vw;
    text-align:center;
    color:white;
    border-radius:10% 10% 10% 10%;
	box-shadow:5px 5px 20px 0.3px rgba(20%,20%,40%,0.3);
}

#window > p{
    position: absolute;
    font-size: 18px;
    color: white;
    top: 35vh;
}

#window > button:nth-of-type(1){
    position: absolute;
    top:59vh;
    left:37vw;
    height: 5vh;
    width: 12vw;
    background-image: url("ICON/yes.png");
    background-color: green;
    background-size: 100% 100%;
}

#window > button:nth-of-type(2){
    position: absolute;
    top:59vh;
    right:37vw;
    height: 5vh;
    width: 12vw;
    background-image: url("ICON/no.png");
    background-color: green;
    background-size: 100% 100%;
}

.price{
    display: none;
    position: absolute;
    width: 15.75%;
    height: 3.55%;
    z-index: 5;
    background-image: url("ICON/money tag.png");
    background-size: 100% 100%;
    text-align: center;
}

.good{
    width: 15.75%;
    height: 9.723%;
    position: absolute;
    z-index: 5;
}

.price:nth-of-type(1){top: 41vh;left: 20vw;}
.price:nth-of-type(2){top: 41vh;left: 42vw;}
.price:nth-of-type(3){top: 41vh;left: 64vw;}
.price:nth-of-type(4){top: 61vh;left: 20vw;}
.price:nth-of-type(5){top: 61vh;left: 42vw;}
.price:nth-of-type(6){top: 61vh;left: 64vw;}
.price:nth-of-type(7){top: 81vh;left: 20vw;}
.price:nth-of-type(8){top: 81vh;left: 42vw;}
.price:nth-of-type(9){top: 81vh;left: 64vw;}

#shop > img:nth-of-type(1){top: 31vh;left: 20vw;}
#shop > img:nth-of-type(2){top: 31vh;left: 42vw;}
#shop > img:nth-of-type(3){top: 31vh;left: 64vw;}
#shop > img:nth-of-type(4){top: 51vh;left: 20vw;}
#shop > img:nth-of-type(5){top: 51vh;left: 42vw;}
#shop > img:nth-of-type(6){top: 51vh;left: 64vw;}
#shop > img:nth-of-type(7){top: 71vh;left: 20vw;}
#shop > img:nth-of-type(8){top: 71vh;left: 42vw;}
#shop > img:nth-of-type(9){top: 71vh;left: 64vw;}